.card {
  /* border: 2px solid red; */
  display: flex;
  margin-right: 2rem;
  /* width: 80%; */
}

.card img {
  height: 9rem;
  width: 14rem;
  border: 4px solid #C59D5F;
  border-radius: 5px;
  object-fit: cover;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #000;
  padding-bottom: 6px;
}

.item h3 {
  color: #102A42;
  font-size: 16px;
}

.item h4 {
  color: #C59D5F;
}

.content {
  margin-left: 1rem;
}

.content p {
  text-align: left;
  padding-top: 1rem;
  color: #617DB1;
}